{
  "presets": [
    ["env", {
      "targets": { "browsers": "chrome >= 58" },
      "module": false
    }],
    "stage-2",
    "react"
  ],
  "env": {
    "production": {
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes"
      ]
    }
  }
}